#
# 	Part of kde-service-menu-reimage Version 2.6
# 	Copyright (C) 2018-2026 Giuseppe Benigno <giuseppe.benigno(at)gmail.com>
#
# 	This program is free software: you can redistribute it and/or modify
# 	it under the terms of the GNU General Public License as published by
# 	the Free Software Foundation, either version 3 of the License, or
# 	(at your option) any later version.
#
# 	This program is distributed in the hope that it will be useful,
# 	but WITHOUT ANY WARRANTY; without even the implied warranty of
# 	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# 	GNU General Public License for more details.
#
# 	You should have received a copy of the GNU General Public License
# 	along with this program.  If not, see <http://www.gnu.org/licenses/>.
#

[Desktop Entry]
Actions=rfe;rff;_SEPARATOR_;sffe;sffn;_SEPARATOR_;seff;sefn;_SEPARATOR_;add-comment;view-metadata;extract-metadata;_SEPARATOR_;del-comment;del-exif;del-iptc;del-xmp;del-all;_SEPARATOR_;tfe;_SEPARATOR_;
MimeType=image/jpeg;image/tiff;
Name=ReImage metadata service menu
ServiceTypes=KonqPopupMenu/Plugin,image/jpeg,image/tiff
TryExec=reimage-kdialog
Type=Service
X-KDE-Submenu=ReImage - Metadata
X-KDE-Submenu[it]=ReImage - Metadati
X-KDE-Submenu[de]=ReImage - Metadaten
X-KDE-Submenu[fr]=ReImage - Métadonnées

################################################################################

[Desktop Action rfe]
Exec=reimage-kdialog rfe %F
Icon=edit-rename
Name=Rename from Exif date
Name[it]=Rinomina dalla data Exif
Name[de]=Nach Exif-Datum umbenennen
Name[fr]=Renommer selon la date Exif

[Desktop Action rff]
Exec=reimage-kdialog rff %F
Icon=edit-rename
Name=Rename from file's date
Name[it]=Rinomina dalla data del file
Name[de]=Nach Dateidatum umbenennen
Name[fr]=Renommer selon la date du fichier

################################################################################

[Desktop Action sffe]
Exec=reimage-kdialog sffe %F
Icon=appointment-new
Name=Set file date from Exif date
Name[it]=Imposta la data del file a quella Exif
Name[de]=Dateidatum anhand von Exif setzen
Name[fr]=Régler la date du fichier sur la date Exif

[Desktop Action sffn]
Exec=reimage-kdialog sffn %F
Icon=appointment-new
Name=Set file date from file's name
Name[it]=Imposta la data del file a quella del nome
Name[de]=Dateidatum anhand des Namens setzen
Name[fr]=Régler la date du fichier sur le nom

################################################################################

[Desktop Action seff]
Exec=reimage-kdialog seff %F
Icon=appointment-new
Name=Set Exif date from file's date
Name[it]=Imposta la data Exif a quella del file
Name[de]=Exif-Datum anhand des Dateidatums setzen
Name[fr]=Régler la date Exif sur la date du fichier

[Desktop Action sefn]
Exec=reimage-kdialog sefn %F
Icon=appointment-new
Name=Set Exif date from file's name
Name[it]=Imposta la data Exif a quella del nome
Name[de]=Exif-Datum anhand des Namens setzen
Name[fr]=Régler la date Exif sur le nom

################################################################################

[Desktop Action add-comment]
Exec=reimage-kdialog ac %F
Icon=comment
Name=Add comment
Name[it]=Aggiungi un commento
Name[de]=Kommentar hinzufügen
Name[fr]=Ajouter un commentaire

[Desktop Action view-metadata]
Exec=reimage-kdialog ve %F
Icon=document-properties
Name=View metadata
Name[it]=Visualizza metadati
Name[de]=Metadaten anzeigen
Name[fr]=Voir les métadonnées

[Desktop Action extract-metadata]
Exec=reimage-kdialog ee %F
Icon=document-export
Name=Extract metadata to file
Name[it]=Estrai metadati in un file
Name[de]=Metadaten in Datei extrahieren
Name[fr]=Extraire les métadonnées vers un fichier

################################################################################

[Desktop Action del-comment]
Exec=reimage-kdialog dc %F
Icon=edit-delete
Name=Delete comment field
Name[it]=Cancella commento
Name[de]=Kommentarfeld löschen
Name[fr]=Supprimer le champ commentaire

[Desktop Action del-exif]
Exec=reimage-kdialog de %F
Icon=edit-delete
Name=Strip Exif section
Name[it]=Cancella le informazioni Exif
Name[de]=Exif-Bereich entfernen
Name[fr]=Supprimer la section Exif

[Desktop Action del-iptc]
Exec=reimage-kdialog di %F
Icon=edit-delete
Name=Delete IPTC section
Name[it]=Cancella le informazioni IPTC
Name[de]=IPTC-Bereich löschen
Name[fr]=Supprimer la section IPTC

[Desktop Action del-xmp]
Exec=reimage-kdialog dx %F
Icon=edit-delete
Name=Delete XMP section
Name[it]=Cancella le informazioni XMP
Name[de]=XMP-Bereich löschen
Name[fr]=Supprimer la section XMP

[Desktop Action del-all]
Exec=reimage-kdialog purejpg %F
Icon=edit-delete
Name=Strip all unnecessary data
Name[it]=Cancella tutti i metadati
Name[de]=Alle Metadaten entfernen
Name[fr]=Supprimer toutes les données inutiles

################################################################################

[Desktop Action tfe]
Exec=reimage-kdialog timestamp %F
Icon=tag
Name=Add timestamp from Exif
Name[it]=Aggiungi timestamp da Exif
Name[de]=Zeitstempel aus Exif hinzufügen
Name[fr]=Ajouter l'horodatage à partir d'Exif
