#
# 	Part of kde-service-menu-reimage Version 2.6
# 	Copyright (C) 2018-2026 Giuseppe Benigno <giuseppe.benigno(at)gmail.com>
#
# 	This program is free software: you can redistribute it and/or modify
# 	it under the terms of the GNU General Public License as published by
# 	the Free Software Foundation, either version 3 of the License, or
# 	(at your option) any later version.
#
# 	This program is distributed in the hope that it will be useful,
# 	but WITHOUT ANY WARRANTY; without even the implied warranty of
# 	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# 	GNU General Public License for more details.
#
# 	You should have received a copy of the GNU General Public License
# 	along with this program.  If not, see <http://www.gnu.org/licenses/>.
#

[Desktop Entry]
Actions=progressive;optimize;_SEPARATOR_;compress-50;compress-70;compress-75;compress-80;compress-90;custom-compress;_SEPARATOR_;resize-25;resize-50;resize-75;_SEPARATOR_;resize-300x225;resize-600x450;resize-640x480;resize-800x600;resize-1024x768;resize-1200x630;resize-1200x900;resize-1400x1050;resize-1920x1080;custom-resize;_SEPARATOR_;
MimeType=image/*
Name=ReImage compress and resize service menu
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
TryExec=reimage-kdialog
Type=Application
X-KDE-Submenu=ReImage - Compress and resize
X-KDE-Submenu[ar]=ReImage - ضغط وتغيير الحجم
X-KDE-Submenu[it]=ReImage - Compressione e ridimensionamento
X-KDE-Submenu[ja]=ReImage - 圧縮とリサイズ
X-KDE-Submenu[pl]=ReImage - Kompresja i zmiana rozmiaru
X-KDE-Submenu[de]=ReImage - Komprimieren und Größe ändern
X-KDE-Submenu[eo]=ReImage - Kunpremi kaj grandecŝanĝi
X-KDE-Submenu[fr]=ReImage - Compresser et redimensionner
X-KDE-Submenu[es]=ReImage - Comprimir y redimensionar
X-KDE-Submenu[pt]=ReImage - Comprimir e redimensionar
X-KDE-Submenu[fa]=ReImage - فشرده‌سازی و تغییر اندازه
X-KDE-Submenu[ru]=ReImage - Сжатие и изменение размера
X-KDE-Submenu[tr]=ReImage - Sıkıştır ve yeniden boyutlandır
X-KDE-Submenu[zh_CN]=ReImage - 压缩与调整大小

################################################################################

[Desktop Action progressive]
Exec=reimage-kdialog progressive %F
Icon=viewhtml
Name=Make progressive
Name[ar]=جعله تقدميًا
Name[it]=Rendi progressiva
Name[ja]=プログレッシブ化
Name[pl]=Ustaw jako progresywny
Name[de]=Progressiv machen
Name[eo]=Igi progresema
Name[fr]=Rendre progressif
Name[es]=Hacer progresivo
Name[pt]=Tornar progressivo
Name[fa]=پیشرونده کردن
Name[ru]=Сделать прогрессивным
Name[tr]=Aşamalı yap
Name[zh_CN]=渐进式处理

[Desktop Action optimize]
Exec=reimage-kdialog optimize %F
Icon=viewhtml
Name=Complete optimization for web
Name[ar]=تحسين كامل للويب
Name[it]=Ottimizzazione completa per il web
Name[ja]=ウェブ用に完全最適化
Name[pl]=Pełna optymalizacja dla stron www
Name[de]=Vollständige Web-Optimierung
Name[eo]=Kompleta reta optimigo
Name[fr]=Optimisation web complète
Name[es]=Optimización web completa
Name[pt]=Otimização web completa
Name[fa]=بهینه‌سازی کامل وب
Name[ru]=Полная оптимизация для веб
Name[tr]=Web için tam optimizasyon
Name[zh_CN]=完整网页优化

[Desktop Action compress-50]
Exec=reimage-kdialog compress 50% %F
Icon=application-x-compressed-tar
Name=Compress at 50%
Name[ar]=ضغط بنسبة 50%
Name[it]=Comprimi al 50%
Name[ja]=50% に圧縮
Name[pl]=Kompresuj do 50%
Name[de]=Auf 50% komprimieren
Name[eo]=Kunpremi al 50%
Name[fr]=Compresser à 50%
Name[es]=Comprimir al 50%
Name[pt]=Comprimir para 50%
Name[fa]=فشرده‌سازی به ۵۰٪
Name[ru]=Сжать до 50%
Name[tr]=%50 oranında sıkıştır
Name[zh_CN]=压缩至 50%

[Desktop Action compress-70]
Exec=reimage-kdialog compress 70% %F
Icon=application-x-compressed-tar
Name=Compress at 70%
Name[ar]=ضغط بنسبة 70%
Name[it]=Comprimi al 70%
Name[ja]=70% に圧縮
Name[pl]=Kompresuj do 70%
Name[de]=Auf 70% komprimieren
Name[eo]=Kunpremi al 70%
Name[fr]=Compresser à 70%
Name[es]=Comprimir al 70%
Name[pt]=Comprimir para 70%
Name[fa]=فشرده‌سازی به ۷۰٪
Name[ru]=Сжать до 70%
Name[tr]=%70 oranında sıkıştır
Name[zh_CN]=压缩至 70%

[Desktop Action compress-75]
Exec=reimage-kdialog compress 75% %F
Icon=application-x-compressed-tar
Name=Compress at 75%
Name[ar]=ضغط بنسبة 75%
Name[it]=Comprimi al 75%
Name[ja]=75% に圧縮
Name[pl]=Kompresuj do 75%
Name[de]=Auf 75% komprimieren
Name[eo]=Kunpremi al 75%
Name[fr]=Compresser à 75%
Name[es]=Comprimir al 75%
Name[pt]=Comprimir para 75%
Name[fa]=فشرده‌سازی به ۷۵٪
Name[ru]=Сжать до 75%
Name[tr]=%75 oranında sıkıştır
Name[zh_CN]=压缩至 75%

[Desktop Action compress-80]
Exec=reimage-kdialog compress 80% %F
Icon=application-x-compressed-tar
Name=Compress at 80%
Name[ar]=ضغط بنسبة 80%
Name[it]=Comprimi al 80%
Name[ja]=80% に圧縮
Name[pl]=Kompresuj do 80%
Name[de]=Auf 80% komprimieren
Name[eo]=Kunpremi al 80%
Name[fr]=Compresser à 80%
Name[es]=Comprimir al 80%
Name[pt]=Comprimir para 80%
Name[fa]=فشرده‌سازی به ۸۰٪
Name[ru]=Сжать до 80%
Name[tr]=%80 oranında sıkıştır
Name[zh_CN]=压缩至 80%

[Desktop Action compress-90]
Exec=reimage-kdialog compress 90% %F
Icon=application-x-compressed-tar
Name=Compress at 90%
Name[ar]=ضغط بنسبة 90%
Name[it]=Comprimi al 90%
Name[ja]=90% に圧縮
Name[pl]=Kompresuj do 90%
Name[de]=Auf 90% komprimieren
Name[eo]=Kunpremi al 90%
Name[fr]=Compresser à 90%
Name[es]=Comprimir al 90%
Name[pt]=Comprimir para 90%
Name[fa]=فشرده‌سازی به ۹۰٪
Name[ru]=Сжать до 90%
Name[tr]=%90 oranında sıkıştır
Name[zh_CN]=压缩至 90%

[Desktop Action custom-compress]
Exec=reimage-kdialog compress custom %F
Icon=application-x-compressed-tar
Name=Custom quality
Name[ar]=جودة مخصصة
Name[it]=Qualità personalizzata
Name[ja]=画質を指定して圧縮
Name[pl]=Jakość niestandardowa
Name[de]=Benutzerdefinierte Qualität
Name[eo]=Propra kvalito
Name[fr]=Qualité personnalisée
Name[es]=Calidad personalizada
Name[pt]=Qualidade personalizada
Name[fa]=کیفیت سفارشی
Name[ru]=Выбрать качество
Name[tr]=Özel kalite
Name[zh_CN]=自定义质量

################################################################################

[Desktop Action resize-25]
Exec=reimage-kdialog resize 25% %F
Icon=image-resize-symbolic
Name=Resize at 25%
Name[ar]=تغيير الحجم بنسبة 25%
Name[it]=Ridimensiona al 25%
Name[ja]=25% にリサイズ
Name[pl]=Zmień rozmiar do 25%
Name[de]=Auf 25% skalieren
Name[eo]=Grandecŝanĝo al 25%
Name[fr]=Redimensionner à 25%
Name[es]=Redimensionar al 25%
Name[pt]=Redimensionar para 25%
Name[fa]=تغییر اندازه به ۲۵٪
Name[ru]=Изменить размер до 25%
Name[tr]=%25 boyutuna getir
Name[zh_CN]=调整大小至 25%

[Desktop Action resize-50]
Exec=reimage-kdialog resize 50% %F
Icon=image-resize-symbolic
Name=Resize at 50%
Name[ar]=تغيير الحجم بنسبة 50%
Name[it]=Ridimensiona al 50%
Name[ja]=50% にリサイズ
Name[pl]=Zmień rozmiar do 50%
Name[de]=Auf 50% skalieren
Name[eo]=Grandecŝanĝo al 50%
Name[fr]=Redimensionner à 50%
Name[es]=Redimensionar al 50%
Name[pt]=Redimensionar para 50%
Name[fa]=تغییر اندازه به ۵۰٪
Name[ru]=Изменить размер до 50%
Name[tr]=%50 boyutuna getir
Name[zh_CN]=调整大小至 50%

[Desktop Action resize-75]
Exec=reimage-kdialog resize 75% %F
Icon=image-resize-symbolic
Name=Resize at 75%
Name[ar]=تغيير الحجم بنسبة 75%
Name[it]=Ridimensiona al 75%
Name[ja]=75% にリサイズ
Name[pl]=Zmień rozmiar do 75%
Name[de]=Auf 75% skalieren
Name[eo]=Grandecŝanĝo al 75%
Name[fr]=Redimensionner à 75%
Name[es]=Redimensionar al 75%
Name[pt]=Redimensionar para 75%
Name[fa]=تغییر اندازه به ۷۵٪
Name[ru]=Изменить размер до 75%
Name[tr]=%75 boyutuna getir
Name[zh_CN]=调整大小至 75%

################################################################################

[Desktop Action resize-300x225]
Exec=reimage-kdialog resize 300x225 %F
Icon=image-resize-symbolic
Name=Resize at 300x225 px
Name[ar]=تغيير الحجم إلى 300x225 بكسل
Name[it]=Ridimensiona a 300x225 px
Name[ja]=300x225 px にリサイズ
Name[pl]=Zmień rozmiar do 300x225 px
Name[de]=Größe auf 300x225 px ändern
Name[eo]=Grandecŝanĝo al 300x225 pks
Name[fr]=Redimensionner à 300x225 px
Name[es]=Redimensionar a 300x225 px
Name[pt]=Redimensionar para 300x225 px
Name[fa]=تغییر اندازه به ۳۰۰x۲۲۵ پیکسل
Name[ru]=Изменить размер до 300x225 px
Name[tr]=300x225 px boyutuna getir
Name[zh_CN]=调整大小至 300x225 像素

[Desktop Action resize-600x450]
Exec=reimage-kdialog resize 600x450 %F
Icon=image-resize-symbolic
Name=Resize at 600x450 px
Name[ar]=تغيير الحجم إلى 600x450 بكسل
Name[it]=Ridimensiona a 600x450 px
Name[ja]=600x450 px にリサイズ
Name[pl]=Zmień rozmiar do 600x450 px
Name[de]=Größe auf 600x450 px ändern
Name[eo]=Grandecŝanĝo al 600x450 pks
Name[fr]=Redimensionner à 600x450 px
Name[es]=Redimensionar a 600x450 px
Name[pt]=Redimensionar para 600x450 px
Name[fa]=تغییر اندازه به ۶۰۰x۴۵۰ پیکسل
Name[ru]=Изменить размер до 600x450 px
Name[tr]=600x450 px boyutuna getir
Name[zh_CN]=调整大小至 600x450 像素

[Desktop Action resize-640x480]
Exec=reimage-kdialog resize 640x480 %F
Icon=image-resize-symbolic
Name=Resize at 640x480 px
Name[ar]=تغيير الحجم إلى 640x480 بكسل
Name[it]=Ridimensiona a 640x480 px
Name[ja]=640x480 px にリサイズ
Name[pl]=Zmień rozmiar do 640x480 px
Name[de]=Größe auf 640x480 px ändern
Name[eo]=Grandecŝanĝo al 640x480 pks
Name[fr]=Redimensionner à 640x480 px
Name[es]=Redimensionar a 640x480 px
Name[pt]=Redimensionar para 640x480 px
Name[fa]=تغییر اندازه به ۶۴۰x۴۸۰ پیکسل
Name[ru]=Изменить размер до 640x480 px
Name[tr]=640x480 px boyutuna getir
Name[zh_CN]=调整大小至 640x480 像素

[Desktop Action resize-800x600]
Exec=reimage-kdialog resize 800x600 %F
Icon=image-resize-symbolic
Name=Resize at 800x600 px
Name[ar]=تغيير الحجم إلى 800x600 بكسل
Name[it]=Ridimensiona a 800x600 px
Name[ja]=800x600 px にリサイズ
Name[pl]=Zmień rozmiar do 800x600 px
Name[de]=Größe auf 800x600 px ändern
Name[eo]=Grandecŝanĝo al 800x600 pks
Name[fr]=Redimensionner à 800x600 px
Name[es]=Redimensionar a 800x600 px
Name[pt]=Redimensionar para 800x600 px
Name[fa]=تغییر اندازه به ۸۰۰x۶۰۰ پیکسل
Name[ru]=Изменить размер до 800x600 px
Name[tr]=800x600 px boyutuna getir
Name[zh_CN]=调整大小至 800x600 像素

[Desktop Action resize-1024x768]
Exec=reimage-kdialog resize 1024x768 %F
Icon=image-resize-symbolic
Name=Resize at 1024x768 px
Name[ar]=تغيير الحجم إلى 1024x768 بكسل
Name[it]=Ridimensiona a 1024x768 px
Name[ja]=1024x768 px にリサイズ
Name[pl]=Zmień rozmiar do 1024x768 px
Name[de]=Größe auf 1024x768 px ändern
Name[eo]=Grandecŝanĝo al 1024x768 pks
Name[fr]=Redimensionner à 1024x768 px
Name[es]=Redimensionar a 1024x768 px
Name[pt]=Redimensionar para 1024x768 px
Name[fa]=تغییر اندازه به ۱۰۲۴x۷۶۸ پیکسل
Name[ru]=Изменить размер до 1024x768 px
Name[tr]=1024x768 px boyutuna getir
Name[zh_CN]=调整大小至 1024x768 像素

[Desktop Action resize-1200x630]
Exec=reimage-kdialog resize 1200x630 %F
Icon=image-resize-symbolic
Name=Resize at 1200x630 px (Social OG)
Name[ar]=تغيير الحجم إلى 1200x630 بكسل (Social OG)
Name[it]=Ridimensiona a 1200x630 px (Social OG)
Name[ja]=1200x630 px にリサイズ (Social OG)
Name[pl]=Zmień rozmiar do 1200x630 px (Social OG)
Name[de]=Größe auf 1200x630 px ändern (Social OG)
Name[eo]=Grandecŝanĝo al 1200x630 pks (Social OG)
Name[fr]=Redimensionner à 1200x630 px (Social OG)
Name[es]=Redimensionar a 1200x630 px (Social OG)
Name[pt]=Redimensionar para 1200x630 px (Social OG)
Name[fa]=تغییر اندازه به ۱۲۰۰x۶۳۰ پیکسل (Social OG)
Name[ru]=Изменить размер до 1200x630 px (Social OG)
Name[tr]=1200x630 px boyutuna getir (Social OG)
Name[zh_CN]=调整大小至 1200x630 像素 (Social OG)

[Desktop Action resize-1200x900]
Exec=reimage-kdialog resize 1200x900 %F
Icon=image-resize-symbolic
Name=Resize at 1200x900 px
Name[ar]=تغيير الحجم إلى 1200x900 بكسل
Name[it]=Ridimensiona a 1200x900 px
Name[ja]=1200x900 px にリサイズ
Name[pl]=Zmień rozmiar do 1200x900 px
Name[de]=Größe auf 1200x900 px ändern
Name[eo]=Grandecŝanĝo al 1200x900 pks
Name[fr]=Redimensionner à 1200x900 px
Name[es]=Redimensionar a 1200x900 px
Name[pt]=Redimensionar para 1200x900 px
Name[fa]=تغییر اندازه به ۱۲۰۰x۹۰۰ پیکسل
Name[ru]=Изменить размер до 1200x900 px
Name[tr]=1200x900 px boyutuna getir
Name[zh_CN]=调整大小至 1200x900 像素

[Desktop Action resize-1400x1050]
Exec=reimage-kdialog resize 1400x1050 %F
Icon=image-resize-symbolic
Name=Resize at 1400x1050 px
Name[ar]=تغيير الحجم إلى 1400x1050 بكسل
Name[it]=Ridimensiona a 1400x1050 px
Name[ja]=1400x1050 px にリサイズ
Name[pl]=Zmień rozmiar do 1400x1050 px
Name[de]=Größe auf 1400x1050 px ändern
Name[eo]=Grandecŝanĝo al 1400x1050 pks
Name[fr]=Redimensionner à 1400x1050 px
Name[es]=Redimensionar a 1400x1050 px
Name[pt]=Redimensionar para 1400x1050 px
Name[fa]=تغییر اندازه به ۱۴۰۰x۱۰۵۰ پیکسل
Name[ru]=Изменить размер до 1400x1050 px
Name[tr]=1400x1050 px boyutuna getir
Name[zh_CN]=调整大小至 1400x1050 像素

[Desktop Action resize-1920x1080]
Exec=reimage-kdialog resize 1920x1080 %F
Icon=image-resize-symbolic
Name=Resize at 1920x1080 px
Name[ar]=تغيير الحجم إلى 1920x1080 بكسل
Name[it]=Ridimensiona a 1920x1080 px
Name[ja]=1920x1080 px にリサイズ
Name[pl]=Zmień rozmiar do 1920x1080 px
Name[de]=Größe auf 1920x1080 px ändern
Name[eo]=Grandecŝanĝo al 1920x1080 pks
Name[fr]=Redimensionner à 1920x1080 px
Name[es]=Redimensionar a 1920x1080 px
Name[pt]=Redimensionar para 1920x1080 px
Name[fa]=تغییر اندازه به ۱۹۲۰x۱۰۸۰ پیکسل
Name[ru]=Изменить размер до 1920x1080 px
Name[tr]=1920x1080 px boyutuna getir
Name[zh_CN]=调整大小至 1920x1080 像素

################################################################################

[Desktop Action custom-resize]
Exec=reimage-kdialog resize custom %F
Icon=image-resize-symbolic
Name=Custom resize
Name[ar]=تغيير حجم مخصص
Name[it]=Ridimensionamento personalizzato
Name[ja]=サイズを指定してリサイズ
Name[pl]=Zmiana rozmiaru niestandardowa
Name[de]=Benutzerdefinierte Größe
Name[eo]=Propra grandecŝanĝo
Name[fr]=Redimensionnement personnalisé
Name[es]=Redimensionamiento personalizado
Name[pt]=Redimensionamento personalizado
Name[fa]=تغییر اندازه سفارشی
Name[ru]=Произвольное изменение размера
Name[tr]=Özel boyutlandırma
Name[zh_CN]=自定义调整大小
