#
# 	Part of kde-service-menu-reimage Version 2.6
# 	Copyright (C) 2018-2026 Giuseppe Benigno <giuseppe.benigno(at)gmail.com>
#
# 	This program is free software: you can redistribute it and/or modify
# 	it under the terms of the GNU General Public License as published by
# 	the Free Software Foundation, either version 3 of the License, or
# 	(at your option) any later version.
#
# 	This program is distributed in the hope that it will be useful,
# 	but WITHOUT ANY WARRANTY; without even the implied warranty of
# 	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# 	GNU General Public License for more details.
#
# 	You should have received a copy of the GNU General Public License
# 	along with this program.  If not, see <http://www.gnu.org/licenses/>.
#

[Desktop Entry]
Actions=agif;append-right;_SEPARATOR_;gray;sepia;transparent2color;_SEPARATOR_;border;border-transparent;shadow;_SEPARATOR_;
MimeType=image/*
Name=ReImage tools service menu
ServiceTypes=KonqPopupMenu/Plugin,image/*
TryExec=reimage-kdialog
Type=Service
X-KDE-Submenu=ReImage - Tools
X-KDE-Submenu[ar]=ReImage - أدوات
X-KDE-Submenu[it]=ReImage - Utilità
X-KDE-Submenu[ja]=ReImage - ツール
X-KDE-Submenu[de]=ReImage - Utilitäten
X-KDE-Submenu[eo]=ReImage - Iloj
X-KDE-Submenu[fr]=ReImage - Outils
X-KDE-Submenu[es]=ReImage - Herramientas
X-KDE-Submenu[pt]=ReImage - Ferramentas
X-KDE-Submenu[fa]=ReImage - ابزارها
X-KDE-Submenu[zh_CN]=ReImage - 工具
X-KDE-Submenu[ru]=ReImage - Инструменты

################################################################################

[Desktop Action agif]
Exec=reimage-kdialog agif %F
Icon=video-x-mp4
Name=Create animated GIF
Name[ar]=إنشاء GIF متحرك
Name[it]=Crea GIF animata
Name[ja]=アニメーション GIF を作成
Name[de]=Animierte GIF erstellen
Name[eo]=Krei animacian GIF
Name[fr]=Créer un GIF animé
Name[es]=Crear GIF animado
Name[pt]=Criar GIF animado
Name[fa]=تولید GIF متحرک
Name[zh_CN]=生成动画 GIF
Name[ru]=Создать анимированный GIF

[Desktop Action append-right]
Exec=reimage-kdialog montage %F
Icon=image-stack
Name=Append to right
Name[ar]=إلحاق إلى اليمين
Name[it]=Appendi immagine a destra
Name[ja]=右側に結合
Name[de]=Nach rechts anhängen
Name[eo]=Postglui dekstren
Name[fr]=Ajouter à droite
Name[es]=Añadir a la derecha
Name[pt]=Anexar à direita
Name[fa]=پیوست به راست
Name[zh_CN]=右侧追加
Name[ru]=Прикрепить справа

################################################################################

[Desktop Action gray]
Exec=reimage-kdialog colorspace gray %F
Icon=color-management
Name=GrayScale
Name[ar]=تدرج الرمادي
Name[it]=Scala di grigi
Name[ja]=グレースケール
Name[de]=Graustufen
Name[eo]=Grizoskalo
Name[fr]=Niveaux de gris
Name[es]=Escala de grises
Name[pt]=Escala de cinzentos
Name[fa]=سیاه و سفید
Name[zh_CN]=灰度
Name[ru]=Оттенки серого

[Desktop Action sepia]
Exec=reimage-kdialog sepia 80% %F
Icon=color-management
Name=Sepia
Name[ar]=سيبيا
Name[it]=Seppia
Name[ja]=セピア
Name[de]=Sepia
Name[eo]=Sepia
Name[fr]=Sépia
Name[es]=Sepia
Name[pt]=Sépia
Name[fa]=سپیا
Name[zh_CN]=棕褐色
Name[ru]=Сепия

[Desktop Action transparent2color]
Exec=reimage-kdialog transparent2color %F
Icon=color-management
Name=Change transparent to color
Name[ar]=تغيير الشفافية إلى لون
Name[it]=Cambia trasparenza a colore
Name[ja]=透明部分を色に変更
Name[de]=Transparenz in Farbe ändern
Name[eo]=Ŝanĝi travideblecon al koloro
Name[fr]=Changer la transparence en couleur
Name[es]=Cambiar transparencia a color
Name[pt]=Alterar transparência para cor
Name[fa]=تغییر شفافیت به رنگ
Name[zh_CN]=将透明度更改为颜色
Name[ru]=Заменить прозрачность цветом

################################################################################

[Desktop Action border]
Exec=reimage-kdialog border custom %F
Icon=border-all
Name=Add colored border
Name[ar]=إضافة إطار ملون
Name[it]=Aggiungi bordo colorato
Name[ja]=彩色枠を追加
Name[de]=Farbigen Rand hinzufügen
Name[eo]=Aldoni koloran bordon
Name[fr]=Ajouter une bordure colorée
Name[es]=Añadir borde coloreado
Name[pt]=Adicionar borda colorida
Name[fa]=افزودن حاشیه رنگی
Name[zh_CN]=添加彩色边框
Name[ru]=Добавить цветную рамку

[Desktop Action border-transparent]
Exec=reimage-kdialog border transparent %F
Icon=border-all
Name=Add transparent border
Name[ar]=إضافة إطار شفاف
Name[it]=Aggiungi bordo trasparente
Name[ja]=透明枠を追加
Name[de]=Transparenten Rand hinzufügen
Name[eo]=Aldoni travideblan bordon
Name[fr]=Ajouter una bordure transparente
Name[es]=Añadir borde transparente
Name[pt]=Adicionar borda transparente
Name[fa]=افزودن حاشیه شفاف
Name[zh_CN]=添加透明边框
Name[ru]=Добавить прозрачную рамку

[Desktop Action shadow]
Exec=reimage-kdialog shadow %F
Icon=image-filter
Name=Drop shadow
Name[ar]=إضافة ظل
Name[it]=Aggiungi ombra
Name[ja]=ドロップシャドウを追加
Name[de]=Schlagschatten hinzufügen
Name[eo]=Aldoni ĵetitan ombron
Name[fr]=Ajouter une ombre portée
Name[es]=Añadir sombra paralela
Name[pt]=Adicionar sombra projetada
Name[fa]=افزودن سایه
Name[zh_CN]=添加阴影
Name[ru]=Добавить тень
