#
# 	Part of kde-service-menu-reimage Version 2.6
# 	Copyright (C) 2018-2026 Giuseppe Benigno <giuseppe.benigno(at)gmail.com>
#
# 	This program is free software: you can redistribute it and/or modify
# 	it under the terms of the GNU General Public License as published by
# 	the Free Software Foundation, either version 3 of the License, or
# 	(at your option) any later version.
#
# 	This program is distributed in the hope that it will be useful,
# 	but WITHOUT ANY WARRANTY; without even the implied warranty of
# 	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# 	GNU General Public License for more details.
#
# 	You should have received a copy of the GNU General Public License
# 	along with this program.  If not, see <http://www.gnu.org/licenses/>.
#

[Desktop Entry]
Actions=agif;append-right;_SEPARATOR_;gray;sepia;transparent2color;_SEPARATOR_;border;border-transparent;shadow;_SEPARATOR_;
MimeType=image/*
Name=ReImage tools service menu
ServiceTypes=KonqPopupMenu/Plugin,image/*
TryExec=reimage-kdialog
Type=Service
X-KDE-Submenu=ReImage - Tools
X-KDE-Submenu[it]=ReImage - Utilità
X-KDE-Submenu[de]=ReImage - Utilitäten
X-KDE-Submenu[fr]=ReImage - Outils
X-KDE-Submenu[es]=ReImage - Herramientas
X-KDE-Submenu[fa]=ReImage - ابزارها
X-KDE-Submenu[ru]=ReImage - Инструменты

################################################################################

[Desktop Action agif]
Exec=reimage-kdialog agif %F
Icon=video-x-mp4
Name=Create animated GIF
Name[it]=Crea GIF animata
Name[de]=Animierte GIF erstellen
Name[fr]=Créer un GIF animé
Name[es]=Crear GIF animado
Name[fa]=تولید GIF متحرک
Name[ru]=Создать анимированный GIF

[Desktop Action append-right]
Exec=reimage-kdialog montage %F
Icon=image-stack
Name=Append to right
Name[it]=Appendi immagine a destra
Name[de]=Nach rechts anhängen
Name[fr]=Ajouter à droite
Name[es]=Añadir a la derecha
Name[fa]=پیوست به راست
Name[ru]=Прикрепить справа

################################################################################

[Desktop Action gray]
Exec=reimage-kdialog colorspace gray %F
Icon=color-management
Name=GrayScale
Name[it]=Scala di grigi
Name[de]=Graustufen
Name[fr]=Niveaux de gris
Name[es]=Escala de grises
Name[fa]=سیاه و سفید
Name[ru]=Оттенки серого

[Desktop Action sepia]
Exec=reimage-kdialog sepia 80% %F
Icon=color-management
Name=Sepia
Name[it]=Seppia
Name[de]=Sepia
Name[fr]=Sépia
Name[es]=Sepia
Name[fa]=سپیا
Name[ru]=Сепия

[Desktop Action transparent2color]
Exec=reimage-kdialog transparent2color %F
Icon=color-management
Name=Change transparent to color
Name[it]=Cambia trasparenza a colore
Name[de]=Transparenz in Farbe ändern
Name[fr]=Changer la transparence en couleur
Name[es]=Cambiar transparencia a color
Name[fa]=تغییر شفافیت به رنگ
Name[ru]=Заменить прозрачность цветом

################################################################################

[Desktop Action border]
Exec=reimage-kdialog border custom %F
Icon=border-all
Name=Add colored border
Name[it]=Aggiungi bordo colorato
Name[de]=Farbigen Rand hinzufügen
Name[fr]=Ajouter une bordure colorée
Name[es]=Añadir borde coloreado
Name[fa]=افزودن حاشیه رنگی
Name[ru]=Добавить цветную рамку

[Desktop Action border-transparent]
Exec=reimage-kdialog border transparent %F
Icon=border-all
Name=Add transparent border
Name[it]=Aggiungi bordo trasparente
Name[de]=Transparenten Rand hinzufügen
Name[fr]=Ajouter una bordure transparente
Name[es]=Añadir borde transparente
Name[fa]=افزودن حاشیه شفاف
Name[ru]=Добавить прозрачную рамку

[Desktop Action shadow]
Exec=reimage-kdialog shadow %F
Icon=image-filter
Name=Drop shadow
Name[it]=Aggiungi ombra
Name[de]=Schlagschatten hinzufügen
Name[fr]=Ajouter une ombre portée
Name[es]=Añadir sombra paralela
Name[fa]=افزودن سایه
Name[ru]=Добавить тень
