#
# 	Part of kde-service-menu-reimage Version 2.6
# 	Copyright (C) 2018-2026 Giuseppe Benigno <giuseppe.benigno(at)gmail.com>
#
# 	This program is free software: you can redistribute it and/or modify
# 	it under the terms of the GNU General Public License as published by
# 	the Free Software Foundation, either version 3 of the License, or
# 	(at your option) any later version.
#
# 	This program is distributed in the hope that it will be useful,
# 	but WITHOUT ANY WARRANTY; without even the implied warranty of
# 	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# 	GNU General Public License for more details.
#
# 	You should have received a copy of the GNU General Public License
# 	along with this program.  If not, see <http://www.gnu.org/licenses/>.
#

[Desktop Entry]
Actions=gif;jpeg;png;tiff;webp;_SEPARATOR_;pdf;pdfa;_SEPARATOR_;agif;favicons;base64;convert-custom;formats;_SEPARATOR_;rotate-90;rotate-180;rotate-270;rotate-custom;auto;_SEPARATOR_;flip;flop;_SEPARATOR_;
MimeType=image/*
Name=ReImage convert and rotate service menu
ServiceTypes=KonqPopupMenu/Plugin,image/*
TryExec=reimage-kdialog
Type=Service
X-KDE-Submenu=ReImage - Convert and rotate
X-KDE-Submenu[it]=ReImage - Conversione e rotazione
X-KDE-Submenu[de]=ReImage - Konvertieren und Drehen
X-KDE-Submenu[fr]=ReImage - Conversion et rotation

################################################################################

[Desktop Action gif]
Exec=reimage-kdialog convert gif %F
Icon=image-gif
Name=Convert to GIF
Name[it]=Converti in GIF
Name[de]=In GIF konvertieren
Name[fr]=Convertir en GIF

[Desktop Action jpeg]
Exec=reimage-kdialog convert jpg %F
Icon=image-jpeg
Name=Convert to JPEG
Name[it]=Converti in JPEG
Name[de]=In JPEG konvertieren
Name[fr]=Convertir en JPEG

[Desktop Action png]
Exec=reimage-kdialog convert png %F
Icon=image-png
Name=Convert to PNG
Name[it]=Converti in PNG
Name[de]=In PNG konvertieren
Name[fr]=Convertir en PNG

[Desktop Action tiff]
Exec=reimage-kdialog convert tif %F
Icon=image-tiff
Name=Convert to TIFF
Name[it]=Converti in TIFF
Name[de]=In TIFF konvertieren
Name[fr]=Convertir en TIFF

[Desktop Action webp]
Exec=reimage-kdialog convert webp %F
Icon=image-webp
Name=Convert to WEBP
Name[it]=Converti in WEBP
Name[de]=In WEBP konvertieren
Name[fr]=Convertir en WEBP

################################################################################

[Desktop Action pdf]
Exec=reimage-kdialog convert pdf %F
Icon=application-pdf
Name=Convert to PDF
Name[it]=Converti in PDF
Name[de]=In PDF konvertieren
Name[fr]=Convertir en PDF

[Desktop Action pdfa]
Exec=reimage-kdialog convert pdfa %F
Icon=application-pdf
Name=Convert to PDF/A-1
Name[it]=Converti in PDF/A-1
Name[de]=In PDF/A-1 konvertieren
Name[fr]=Convertir en PDF/A-1

################################################################################

[Desktop Action agif]
Exec=reimage-kdialog agif all %F
Icon=video-x-mp4
Name=Generate animated GIF
Name[it]=Genera GIF animata
Name[de]=Animierte GIF erstellen
Name[fr]=Générer un GIF animé

[Desktop Action favicons]
Exec=reimage-kdialog favicons all %F
Icon=image-ico
Name=Generate favicons
Name[it]=Genera favicons
Name[de]=Favicons erstellen
Name[fr]=Générer des favicons

[Desktop Action base64]
Exec=reimage-kdialog base64 %F
Icon=text-plain
Name=Convert to Base64
Name[it]=Converti in Base64
Name[de]=In Base64 konvertieren
Name[fr]=Convertir en Base64

[Desktop Action convert-custom]
Exec=reimage-kdialog convert custom %F
Icon=image
Name=Convert to format ...
Name[it]=Formato personalizzato ...
Name[de]=In Format konvertieren ...
Name[fr]=Convertir au format ...

[Desktop Action formats]
Exec=reimage-kdialog convert formats
Icon=view-list-text
Name=Formats list
Name[it]=Elenco formati
Name[de]=Formatliste
Name[fr]=Liste des formats

################################################################################

[Desktop Action rotate-90]
Exec=reimage-kdialog rotate 90 %F
Icon=image-rotate-right-symbolic
Name=Rotate 90°
Name[it]=Ruota di 90°
Name[de]=Um 90° drehen
Name[fr]=Rotation de 90°

[Desktop Action rotate-180]
Exec=reimage-kdialog rotate 180 %F
Icon=image-rotate-right-symbolic
Name=Rotate 180°
Name[it]=Ruota di 180°
Name[de]=Um 180° drehen
Name[fr]=Rotation de 180°

[Desktop Action rotate-270]
Exec=reimage-kdialog rotate 270 %F
Icon=image-rotate-left-symbolic
Name=Rotate (-90°)
Name[it]=Ruota di -90°
Name[de]=Um -90° drehen
Name[fr]=Rotation de -90°

[Desktop Action rotate-custom]
Exec=reimage-kdialog rotate custom %F
Icon=view-refresh
Name=Rotate custom
Name[it]=Angolo personalizzato
Name[de]=Benutzerdefinierte Drehung
Name[fr]=Rotation personnalisée

[Desktop Action auto]
Exec=reimage-kdialog rotate auto %F
Icon=view-refresh
Name=Auto-rotate with Exif
Name[it]=Auto-ruota tramite dati Exif
Name[de]=Automatisch drehen (Exif)
Name[fr]=Rotation automatique (Exif)

################################################################################

[Desktop Action flip]
Exec=reimage-kdialog overturn flip %F
Icon=image-flip-vertical-symbolic
Name=Overturn vertically
Name[it]=Ribalta verticalmente
Name[de]=Vertikal spiegeln
Name[fr]=Retourner verticalement

[Desktop Action flop]
Exec=reimage-kdialog overturn flop %F
Icon=image-flip-horizontal-symbolic
Name=Overturn horizontally
Name[it]=Ribalta orizzontalmente
Name[de]=Horizontal spiegeln
Name[fr]=Retourner horizontalement
